%div{ class: "comment #{comment.user.role.admin ? 'admin' : ''}" }
  .row
    .small-2.columns
      .comment-author__picture
        = image_tag gravatar_url(comment.user), height: '150', width: '150'
    .small-10.columns
      %p.comment__author
        %strong
          = comment.user.full_name
        %small.comment__time
          = local_time_ago(comment.created_at)


      :markdown
        #{comment.body}
