= content_for :title, 'Account Settings'
= content_for :subtitle, "#{current_user.name}"

= simple_form_for current_user, url: current_user_path(method: :put, secure: true) do |f|
  .input
    %label Avatar
    .clearfix.section__avatar
      = image_tag avatar_url(current_user), height: '75', width: '75', class: 'user__picture'
      %p Avatars are managed through #{link_to 'Gravatar.com', "http://gravatar.com"}.
  %hr/
  = f.input :name
  = f.input :email

  %hr/
  = f.input :slug
  = f.input :twitter_handle, hint: 'Twitter handle without the "@" symbol.'
  = f.input :website, placeholder: 'http://example.com'
  %hr/
  = f.input :bio

  = f.submit class: 'button radius', value: "Update My Profile"

= simple_form_for current_user, url: current_user_path(method: :put, secure: true) do |f|
  %hr
  %h5 Reset Password

  = f.input :reset_password_token, :as => :hidden
  = f.full_error :reset_password_token

  = f.input :password, :label => "New password"
  = f.input :password_confirmation, :label => "Confirm your new password", hint: 'If you’re not changing your password, leave the fields blank.'

  = f.submit class: 'button radius', value: 'Update My Password'
