= content_for :title, 'People'
= content_for :description, 'Our amazing members.'
.small-12.medium-9.columns.small-centered
  %h2 Members
  %p Our amazing members.
  %hr/
  %h3.subheader.margin-bottom-s Members
  .small-block-grid-2.medium-block-grid-4
    - @members.each do |user|
      %li
        = link_to user_path(user) do
          = image_tag avatar_url(user), width: '300'
          %p.size-xxs.text-center= user.full_name
