= content_for :title, "#{@user.full_name}"

.small-12.medium-3.columns.user__sidebar
  = image_tag avatar_url(@user), height: '150', width: '150', class: 'user__picture'
  %ul.user__links
    - if @user.website.present?
      %li
        = link_to @user.website, title: "Link to the website of #{@user.full_name}" do
          %span.fa.fa-anchor.fa-fw
          = @user.website
    - if @user.twitter_handle.present?
      %li
        = link_to "http://twitter.com/#{@user.twitter_handle}", title: "Link to the Twitter profile of #{@user.full_name}" do
          %span.fa.fa-twitter.fa-fw
          @#{@user.twitter_handle}

.small-12.medium-9.columns.user__profile
  %h2
    = @user.full_name
    %small Latte Member

  - if @user.bio?
    = markdown @user.bio
