= content_for :title, "#{@user.full_name}"
.small-12.medium-9.columns.small-centered.user__profile
  = image_tag avatar_url(@user), height: '150', width: '150'
  %h2 #{@user.full_name}
  %p
    - if @user.website.present?
      = link_to @user.website, @user.website

    - if @user.website.present? && @user.twitter_handle.present?
      = '&middot;'.html_safe

    - if @user.twitter_handle.present?
      / = link_to_twitter @user

  - if @user.bio?
    .broadcaster-bio
      = markdown @user.bio
  %hr
