%li.post
  %h3
    = link_to post_path(post) do
      = rubypants post.title.titleize
    %small #{post.comment_count} #{"Comment".pluralize(post.comment_count)}
  %p.pubdate.size-s
    Posted on #{post.user.full_name} #{local_time_ago(post.created_at)}
  %p.post_content= truncate(post.post_content, length: 255, omission: '…', escape: false)
