= content_for :title, "#{rubypants(@post.title.titleize)}".html_safe

%p.pubdate.size-xs
  Posted by #{@post.user.full_name}
  %span
    = local_time_ago(@post.created_at)
  - if admin_signed_in?
    &middot; #{link_to 'Edit Post', edit_manage_post_path}

= markdown @post.post_content

- if @comments.present?
  %hr/
  .comments
    = render @comments

.comment__form
  = simple_form_for [@post, @comment] do |f|
    = f.input :body, placeholder: 'Add a comment…', label_html: { class: 'hide' }, hint: 'HTML and Markdown allowed.'
    = f.submit class: 'button radius'

