.small-12.medium-9.columns.medium-centered
  %h1= @post.title

  = markdown @post.post_content

  - if @comments.present?
    %h4 Comments
    = render @comments


  %h4
  = simple_form_for [@post, @comment] do |f|
    = f.input :body, placeholder: 'Add a comment…'
    = f.submit class: 'button radius'

