= content_for :title, "#{@post.title}"

= markdown @post.post_content

- if @comments.present?
  %hr/
  .comments
    = render @comments

.comment__form
  = simple_form_for [@post, @comment] do |f|
    = f.input :body, placeholder: 'Add a comment…', label_html: { class: 'hide' }
    = f.submit class: 'button radius'

