= simple_form_for [:manage, @post] do |f|
  = f.input :title, placeholder: 'Post Title…', label_html: { class: 'hide' }, input_html: { autofocus: 'autofocus', autocomplete: 'off', class: 'modern-input'}
  - if @post.persisted?
    %p.slug.size-xs
      %strong Slug:

      %span /posts/#{@post.slug}

  = f.input :post_content, placeholder: 'Type you message here… (HTML and/or Markdown allowed.)', label_html: { class: 'hide' }, input_html: { class: 'modern-input'}

  = f.button :button, class: 'button radius right', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving" }
