= simple_form_for [:admin, @user] do |f|

  = f.input :full_name
  = f.input :email

  %hr/
  = f.input :slug
  = f.input :twitter_handle, hint: 'Twitter handle without the "@" symbol.'
  = f.input :website, placeholder: 'http://example.com'
  %hr/
  = f.input :bio
  %hr/
  = f.input :role_id, as: :select, collection: @roles, include_blank: false

  - if @user.new_record?
    %hr/
    = f.input :password

    = f.button :button, "Create User".html_safe, class: 'button radius', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating User…" }
  - else
    = f.button :button, "Update #{@user.full_name}".html_safe, class: 'button radius', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving…" }

- if @user.persisted?
  = simple_form_for [:admin, @user] do |f|
    %hr
    %h4 Reset Password
    = f.input :password, label: 'New password'

    = f.button :button, "Update #{@user.full_name} Password".html_safe, class: 'button radius', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Password" }
