%h1= @user.full_name

= simple_form_for [:admin, @user] do |f|
  = f.input :full_name
  = f.input :twitter_handle
  = f.input :slug
  = f.input :bio
  = f.input :role_id, as: :select, collection: @roles, include_blank: false

  = f.submit
