!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Tim Likes to Make Things"

    / Typekit Code
    %script{:src => "//use.typekit.net/vci5orz.js"}
    :javascript
      try{Typekit.load();}catch(e){}

    = stylesheet_link_tag "application"
    = csrf_meta_tag

  %body.page__login
    = render 'layouts/flash'
    %main.login__main{ role: 'main' }
      .row
        = yield

    = javascript_include_tag 'application'
